.contact-header {
  margin: 5% 15%;
  padding: 2% 5%;
  background-color: #DCD0C0;
  color: #373737;
  box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.66);
}

.contact-form {
  margin: 5% 15%;
  padding: 5%;
  background-color: #DCD0C0;
  color: #373737;
  box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.66);
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  background-color: #373737;
  color: #DCD0C0;
  margin: 10px 10px;
}
